<div class="row-col col-md-6 homepageHeader">Showing: <b>1-20</b> of <b>200</b> results</div>

        <div class="sort-bar homepageHeader mx-auto" >
            <div class="btn-group">
                <button type="button" class="btn btn-secondaryy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Relevance</a>
                    <a class="dropdown-item" href="#">Date</a>
                    <a class="dropdown-item" href="#">Hot</a>
                    <a class="dropdown-item" href="#">Top</a>
                    <a class="dropdown-item" href="#">Comments</a>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondaryy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Posts from:
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Past Hour</a>
                    <a class="dropdown-item" href="#">Past 24 Hours</a>
                    <a class="dropdown-item" href="#">Past Week</a>
                    <a class="dropdown-item" href="#">Past Month</a>
                    <a class="dropdown-item" href="#">Past Year</a>
                    <a class="dropdown-item all-time" href="#">All time</a>
                </div>
            </div>
        </div>

        <!-- Result 1-->
        <div class="card mx-auto homepage text-left">
            <div class="card-body">
              <h5 class="card-title">Result 1</h5>
              <p class="card-text"> Lorem ipsum dolor sit amet, consectetur
                 adipiscing elit. Sed dapibus consectetur tortor, eget ullamcorper
                 augue molestie in. Mauris tempus tristique libero, non dignissim
                 mi tempus ut.</p>
            </div>
            <div class="card-footer text-muted text-left">
              2 days ago
            </div>
          </div>

        <!-- Result 2-->
        <div class="card mx-auto homepage text-left">
            <div class="card-body">
              <h5 class="card-title">Result 2</h5>
              <p class="card-text"> Lorem ipsum dolor sit amet, consectetur
                 adipiscing elit. Sed dapibus consectetur tortor, eget ullamcorper
                 augue molestie in. Mauris tempus tristique libero, non dignissim
                 mi tempus ut.</p>
            </div>
            <div class="card-footer text-muted text-left">
              2 days ago
            </div>
          </div>

        <!-- Result 3-->
        <div class="card mx-auto homepage text-left">
            <div class="card-body">
              <h5 class="card-title">Result 3</h5>
              <p class="card-text"> Lorem ipsum dolor sit amet, consectetur
                 adipiscing elit. Sed dapibus consectetur tortor, eget ullamcorper
                 augue molestie in. Mauris tempus tristique libero, non dignissim
                 mi tempus ut.</p>
            </div>
            <div class="card-footer text-muted text-left">
              2 days ago
            </div>
          </div> <br>

          <nav class="d-flex justify-content-center">
            <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                <li class="page-item">
                    <a class="page-link no-border" href="#">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
                <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
                <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
                <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link no-border" href="#">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>