<div class="homepageHeader mx-auto">
    Settings
  </div>
  <br>

  <div class="card text-center homepage mx-auto border-light">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
      </ul>
    </div>
    <div class="card-body text-left">
      <h5 class="card-title">Account Settings</h5>
      <p class="card-text"> Login Preferences </p>
      <hr/>
      <p class="card-text"> <strong> Email </strong> </p>
      <p class="card-text"> yourname@url <a href="#" class="badge badge-secondary">Reset</a>  </p>
      <p class="card-text"> <strong> Password </strong> </p>
      <p class="card-text"> *************** <a href="#" class="badge badge-secondary">Reset</a> </p>
      <p class="card-text"> More Settings </p>
      <hr/> <br> <br>
      <p class="card-text"> Some More Settings </p>
      <hr/> <br> <br>
      <p class="card-text"> Even More Settings </p>
      <hr/> <br> <br>
    </div>
  </div>